flows.json
[{"id":"e5cbeeb2fc1202c7","type":"tab","label":"Night Mode / Wakeup","disabled":false,"info":"","env":[]},{"id":"4ca0c14e1d9cee81","type":"tab","label":"Utility Room Lights","disabled":false,"info":"","env":[]},{"id":"e26355ad38f24c9f","type":"tab","label":"Garage","disabled":false,"info":"","env":[]},{"id":"caf16341c1dce5de","type":"tab","label":"Bedroom Devices","disabled":false,"info":"","env":[]},{"id":"ce3260188235a722","type":"tab","label":"Basement","disabled":false,"info":"","env":[]},{"id":"9a48a67062cac6f3","type":"tab","label":"Dining Room","disabled":false,"info":"","env":[]},{"id":"28024963bab012a2","type":"tab","label":"First Person Arrives","disabled":false,"info":"","env":[]},{"id":"44d541dc0c1b3700","type":"tab","label":"Testing","disabled":false,"info":"","env":[]},{"id":"9748c0ec2e58a73f","type":"tab","label":"Upstairs","disabled":false,"info":"","env":[]},{"id":"bb73eabc4ef8264a","type":"tab","label":"Plants","disabled":false,"info":"","env":[]},{"id":"afe30143c250d9e0","type":"subflow","name":"Passthru","info":"","category":"","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":160,"y":30,"wires":[{"id":"afe30143c250d9e0","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"9bba082b.c29a28","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"","enableGlobalContextStore":false},{"id":"374adee52b03e382","type":"mqtt-broker","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"cf54c2a69b021bd9","type":"inject","z":"e5cbeeb2fc1202c7","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":700,"wires":[["e044c608f6a733d6"]]},{"id":"e044c608f6a733d6","type":"api-call-service","z":"e5cbeeb2fc1202c7","name":"Turn off night mode","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.night_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":620,"wires":[["943373d6376f80b0"]]},{"id":"fbb985e3d1c906ae","type":"api-current-state","z":"e5cbeeb2fc1202c7","name":"Is Jesse home?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.jesse","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":640,"y":480,"wires":[["3b79f29bb69875d9"],["bf5ea2cafd0a8369"]]},{"id":"845069561c02c9d3","type":"ha-time","z":"e5cbeeb2fc1202c7","name":"Weekdays at wake_up_time","server":"9bba082b.c29a28","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityId":"input_datetime.wake_up_time","property":"","offset":"15","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"debugenabled":false,"x":180,"y":540,"wires":[["e044c608f6a733d6"]]},{"id":"f7fed85764970364","type":"ha-time","z":"e5cbeeb2fc1202c7","name":"Weekends at wake_up_time + 30 min","server":"9bba082b.c29a28","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityId":"input_datetime.wake_up_time","property":"","offset":"30","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"debugenabled":false,"x":170,"y":620,"wires":[["e044c608f6a733d6"]]},{"id":"e511071db8e6611a","type":"inject","z":"e5cbeeb2fc1202c7","name":"Flow start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["71d87aaf652eca86"]]},{"id":"71d87aaf652eca86","type":"change","z":"e5cbeeb2fc1202c7","name":"Init variables","rules":[{"t":"set","p":"cancel_wakeup","pt":"flow","to":"off","tot":"str"},{"t":"set","p":"delay_time","pt":"flow","to":"10","tot":"num"},{"t":"set","p":"cancel_wind_down","pt":"flow","to":"off","tot":"str"},{"t":"set","p":"bedroom_lamps","pt":"flow","to":"{\"entities\":[\"light.bedroom_small_lamp\",\"light.bedroom_left_headboard_lamp\",\"light.bedroom_corner_lamp\"]}","tot":"json"},{"t":"set","p":"ha","pt":"global","to":"$globalContext('homeassistant').homeAssistant.states\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":80,"wires":[[]]},{"id":"bf5ea2cafd0a8369","type":"api-call-service","z":"e5cbeeb2fc1202c7","name":"Disable manual control","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"adaptive_lighting","service":"set_manual_control","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_bedroom"],"data":"{\"manual_control\":false}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1060,"y":380,"wires":[[]]},{"id":"d868c13255165647","type":"comment","z":"e5cbeeb2fc1202c7","name":"Initialize flow variables","info":"","x":100,"y":20,"wires":[]},{"id":"fd38969f25f41f96","type":"comment","z":"e5cbeeb2fc1202c7","name":"Turn on lights in the morning","info":"","x":120,"y":480,"wires":[]},{"id":"4b1114db94308f5a","type":"comment","z":"e5cbeeb2fc1202c7","name":"iOS \"Wind Down started\" action occurred, start dimming bedroom lamps","info":"","x":260,"y":940,"wires":[]},{"id":"3e8e4b7213188a67","type":"server-events","z":"e5cbeeb2fc1202c7","name":"iOS action: Wind Down started","server":"9bba082b.c29a28","version":2,"eventType":"ios.action_fired","exposeToHomeAssistant":false,"eventData":"{\"actionName\":\"Wind Down started\"}","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":130,"y":1000,"wires":[["0ba2bae6b614495d"]]},{"id":"a922c5e146bacd63","type":"api-current-state","z":"e5cbeeb2fc1202c7","name":"Is Jesse home?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.jesse","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":620,"y":1020,"wires":[["0e2c501bcdd12ef0"],[]]},{"id":"522844935423c1b7","type":"api-current-state","z":"e5cbeeb2fc1202c7","name":"Lamp is on?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{ payload }}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1170,"y":1020,"wires":[["e8dc11ebea4ace8e"],[]]},{"id":"ec436a1c17865ec8","type":"inject","z":"e5cbeeb2fc1202c7","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":1160,"wires":[["0ba2bae6b614495d"]]},{"id":"e8dc11ebea4ace8e","type":"api-call-service","z":"e5cbeeb2fc1202c7","name":"Set lamps to 1% and warmest color","server":"9bba082b.c29a28","version":5,"debugenabled":true,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["{{ payload }}"],"data":"{\"brightness_pct\":1,\"transition\":300,\"kelvin\":1000}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1410,"y":940,"wires":[["5565d6f728196c70"]]},{"id":"0ba2bae6b614495d","type":"switch","z":"e5cbeeb2fc1202c7","name":"Has been cancelled?","property":"cancel_wind_down","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":420,"y":1100,"wires":[[],["a922c5e146bacd63","46a5f5f273b4116d"]]},{"id":"2b750a2860f68bb1","type":"api-current-state","z":"e5cbeeb2fc1202c7","name":"Lamp is off?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{ payload }}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1690,"y":580,"wires":[["1562e0c653a2dd26"],[]]},{"id":"4499d61464f8faa2","type":"api-call-service","z":"e5cbeeb2fc1202c7","name":"Turn on lamp to 1%","server":"9bba082b.c29a28","version":5,"debugenabled":true,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["{{ payload }}"],"data":"{\"brightness_pct\":1,\"transition\":2}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":740,"wires":[["3a9d94130e0a72b4"]]},{"id":"6af67b450c06c142","type":"delay","z":"e5cbeeb2fc1202c7","name":"Wait for flow.delay minutes","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1080,"y":660,"wires":[["3b79f29bb69875d9"]]},{"id":"3a9d94130e0a72b4","type":"change","z":"e5cbeeb2fc1202c7","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"delay_time\") * 60 * 1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":740,"wires":[["6af67b450c06c142"]]},{"id":"c678ecd2815ff596","type":"switch","z":"e5cbeeb2fc1202c7","name":"Has been cancelled?","property":"cancel_wakeup","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1420,"y":640,"wires":[[],["2b750a2860f68bb1"]]},{"id":"3b79f29bb69875d9","type":"array-loop","z":"e5cbeeb2fc1202c7","name":"Loop through lamps","key":"loop_key","keyType":"msg","reset":true,"resetValue":"value-null","array":"bedroom_lamps.entities","arrayType":"flow","x":1280,"y":560,"wires":[["bf5ea2cafd0a8369"],["c678ecd2815ff596"]]},{"id":"1562e0c653a2dd26","type":"api-call-service","z":"e5cbeeb2fc1202c7","name":"Enable manual control","server":"9bba082b.c29a28","version":5,"debugenabled":true,"domain":"adaptive_lighting","service":"set_manual_control","areaId":[],"deviceId":[],"entityId":[],"data":"{\"manual_control\":true, \"lights\":\"{{ payload }}\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":660,"wires":[["4499d61464f8faa2"]]},{"id":"0e2c501bcdd12ef0","type":"ha-get-entities","z":"e5cbeeb2fc1202c7","name":"Get lights on","server":"9bba082b.c29a28","version":0,"rules":[{"property":"entity_id","logic":"includes","value":"bedroom_lamps.entities","valueType":"flow"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":950,"y":940,"wires":[["ce63c359d4c2d4a9"]]},{"id":"ce63c359d4c2d4a9","type":"split","z":"e5cbeeb2fc1202c7","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":1110,"y":940,"wires":[["522844935423c1b7"]]},{"id":"943373d6376f80b0","type":"api-call-service","z":"e5cbeeb2fc1202c7","name":"Apply Adaptive Lighting","server":"9bba082b.c29a28","version":5,"debugenabled":true,"domain":"adaptive_lighting","service":"apply","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_bedroom"],"data":"{\"adapt_brightness\":true,\"adapt_color\":true}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":700,"wires":[["fbb985e3d1c906ae"]]},{"id":"57baad70d6dfd51c","type":"api-current-state","z":"e5cbeeb2fc1202c7","name":"Lamp is off?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{ payload }}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1630,"y":1240,"wires":[[],["4b4e3473a16dfede"]]},{"id":"51024dbab895f372","type":"api-call-service","z":"e5cbeeb2fc1202c7","name":"Set lamp to sleep color @ 20%","server":"9bba082b.c29a28","version":5,"debugenabled":true,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["{{ payload }}"],"data":"{\"brightness_pct\":20,\"transition\":20,\"rgb_color\":[255,56,0]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1690,"y":1400,"wires":[["d5fcc6ce670587fd"]]},{"id":"054a63ac51dda576","type":"delay","z":"e5cbeeb2fc1202c7","name":"Wait for flow.delay minutes","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1020,"y":1320,"wires":[["5565d6f728196c70"]]},{"id":"d5fcc6ce670587fd","type":"change","z":"e5cbeeb2fc1202c7","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"$flowContext(\"delay_time\") * 60 * 1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1400,"wires":[["054a63ac51dda576"]]},{"id":"724fbcc6734fd9ef","type":"switch","z":"e5cbeeb2fc1202c7","name":"Has been cancelled?","property":"cancel_wind_down","propertyType":"flow","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1360,"y":1300,"wires":[[],["57baad70d6dfd51c"]]},{"id":"5565d6f728196c70","type":"array-loop","z":"e5cbeeb2fc1202c7","name":"Loop through lamps","key":"loop_key","keyType":"msg","reset":true,"resetValue":"value-null","array":"bedroom_lamps.entities","arrayType":"flow","x":1220,"y":1220,"wires":[["922754f24cee5914"],["724fbcc6734fd9ef"]]},{"id":"4b4e3473a16dfede","type":"api-call-service","z":"e5cbeeb2fc1202c7","name":"Enable manual control","server":"9bba082b.c29a28","version":5,"debugenabled":true,"domain":"adaptive_lighting","service":"set_manual_control","areaId":[],"deviceId":[],"entityId":[],"data":"{\"manual_control\":true, \"lights\":\"{{ payload }}\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1660,"y":1320,"wires":[["51024dbab895f372"]]},{"id":"ca60c3e11b5df84a","type":"comment","z":"e5cbeeb2fc1202c7","name":"If on, set each lamps to 1% and warmest color over 300 seconds","info":"","x":1110,"y":900,"wires":[]},{"id":"cd0fe4b1c4728517","type":"comment","z":"e5cbeeb2fc1202c7","name":"One at a time, set each lamp to sleep color (if on)","info":"","x":1300,"y":1400,"wires":[]},{"id":"46a5f5f273b4116d","type":"api-call-service","z":"e5cbeeb2fc1202c7","name":"Start night mode countdown","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"timer","service":"start","areaId":[],"deviceId":[],"entityId":["timer.night_mode_countdown"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":1200,"wires":[[]]},{"id":"48f55ed7636e5f03","type":"comment","z":"e5cbeeb2fc1202c7","name":"Night mode countdown finished, enable Night Mode","info":"","x":190,"y":220,"wires":[]},{"id":"153b11fd749c34c9","type":"api-call-service","z":"e5cbeeb2fc1202c7","name":"Turn on Night Mode","server":"9bba082b.c29a28","version":5,"debugenabled":true,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.night_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":280,"wires":[[]]},{"id":"658a89f9e4d270eb","type":"trigger-state","z":"e5cbeeb2fc1202c7","name":"Night mode turned on?","server":"9bba082b.c29a28","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.night_mode","entityidfiltertype":"exact","debugenabled":true,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":620,"y":120,"wires":[["33850db8a0c07a86"],["a1bae47d0fa9f773"]]},{"id":"3b480afea6a8b0be","type":"comment","z":"e5cbeeb2fc1202c7","name":"Night mode toggled, change bedroom, bathroom, and kitchen lights","info":"","x":740,"y":20,"wires":[]},{"id":"33850db8a0c07a86","type":"api-call-service","z":"e5cbeeb2fc1202c7","name":"Turn on lighting sleep mode","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_bathroom","switch.adaptive_lighting_sleep_mode_bedroom","switch.adaptive_lighting_sleep_mode_kitchen"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":80,"wires":[["318b3fe7a1bf5884"]]},{"id":"a1bae47d0fa9f773","type":"api-call-service","z":"e5cbeeb2fc1202c7","name":"Turn off lighting sleep mode","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_sleep_mode_all"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":160,"wires":[[]]},{"id":"318b3fe7a1bf5884","type":"api-call-service","z":"e5cbeeb2fc1202c7","name":"Turn off manual control","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"adaptive_lighting","service":"set_manual_control","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_bathroom","switch.adaptive_lighting_bedroom","switch.adaptive_lighting_kitchen"],"data":"{\"manual_control\":false}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":80,"wires":[[]]},{"id":"e4935c0af2d4f55f","type":"inject","z":"e5cbeeb2fc1202c7","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":1260,"wires":[["46a5f5f273b4116d"]]},{"id":"922754f24cee5914","type":"api-call-service","z":"e5cbeeb2fc1202c7","name":"Disable manual control","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"adaptive_lighting","service":"set_manual_control","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_bedroom"],"data":"{\"manual_control\":false}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1480,"y":1140,"wires":[[]]},{"id":"c7d54dc7f77c7706","type":"server-events","z":"e5cbeeb2fc1202c7","name":"Night mode countdown finished","server":"9bba082b.c29a28","version":2,"eventType":"timer.finished","exposeToHomeAssistant":false,"eventData":"{\"entity_id\":\"timer.night_mode_countdown\"}","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":150,"y":280,"wires":[["153b11fd749c34c9"]]},{"id":"6a58bfd3ab308c2f","type":"trigger-state","z":"4ca0c14e1d9cee81","name":"Back door opened?","server":"9bba082b.c29a28","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.back_door_contact_sensor_contact","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":130,"y":260,"wires":[["9a1759019105b938"],["a7646a7e4535e449"]]},{"id":"200bb33840556f34","type":"api-call-service","z":"4ca0c14e1d9cee81","name":"Apply brightness/temp","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"adaptive_lighting","service":"apply","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_utility_room"],"data":"{\t   \"transition\":1,\t\t   \"adapt_brightness\":true,\t   \"adapt_color\":true\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1260,"y":120,"wires":[["c2e0835bfaf63026"]]},{"id":"b7cce219038bf3ef","type":"api-call-service","z":"4ca0c14e1d9cee81","name":"Start Sensor Reset Timer","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"timer","service":"start","areaId":[],"deviceId":[],"entityId":["timer.utility_room_motion_sensor_reset_timer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":60,"wires":[[]]},{"id":"1866e716e21b3796","type":"api-call-service","z":"4ca0c14e1d9cee81","name":"Turn on lights to 1","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.utility_room_lights"],"data":"{\"transition\":1,\"brightness\":1}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":240,"wires":[["362fae1de16119a2"]],"info":"Turn on lights to 1 (out of 255) so fading to full brightness works"},{"id":"0fbe0a05fb995a47","type":"api-call-service","z":"4ca0c14e1d9cee81","name":"Disable manual control","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"adaptive_lighting","service":"set_manual_control","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_utility_room"],"data":"{\"manual_control\":false}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":950,"y":120,"wires":[["200bb33840556f34"]]},{"id":"9a1759019105b938","type":"api-current-state","z":"4ca0c14e1d9cee81","name":"Are lights on?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.utility_room_lights","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":180,"wires":[["0fbe0a05fb995a47"],["1866e716e21b3796","5308bfede932e74f"]]},{"id":"4d91f216a97828ec","type":"comment","z":"4ca0c14e1d9cee81","name":"Lights are off, set to 1 before turning on so fade works","info":"","x":1030,"y":300,"wires":[]},{"id":"a0d7e01a2445dbb1","type":"trigger-state","z":"4ca0c14e1d9cee81","name":"Lights turned on?","server":"9bba082b.c29a28","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.utility_room_lights","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":120,"y":560,"wires":[["a7646a7e4535e449"],[]]},{"id":"d98c7c052c22cd1f","type":"comment","z":"4ca0c14e1d9cee81","name":"1 Turn lights on when motion detected or door opened","info":"","x":200,"y":20,"wires":[]},{"id":"a7646a7e4535e449","type":"api-current-state","z":"4ca0c14e1d9cee81","name":"Motion sensor clear?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.utility_room_motion_sensor_occupancy","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":560,"wires":[["47f80351ea9415d4"],[]]},{"id":"47f80351ea9415d4","type":"api-current-state","z":"4ca0c14e1d9cee81","name":"Back door closed?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.back_door_contact_sensor_contact","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":640,"wires":[["0aa19b4c9af50858"],[]]},{"id":"0aa19b4c9af50858","type":"api-call-service","z":"4ca0c14e1d9cee81","name":"Start occupancy timer","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"timer","service":"start","areaId":[],"deviceId":[],"entityId":["timer.utility_room_occupancy_timer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":580,"wires":[[]]},{"id":"701afab16450302f","type":"comment","z":"4ca0c14e1d9cee81","name":"2 Start Occupancy Timer when motion cleared, door closed, or lights turned on","info":"","x":280,"y":420,"wires":[]},{"id":"efec502bd64b5fef","type":"api-current-state","z":"4ca0c14e1d9cee81","name":"Motion sensor clear?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.utility_room_motion_sensor_occupancy","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":900,"wires":[["50bd2a6edf1c3e11"],[]]},{"id":"50bd2a6edf1c3e11","type":"api-current-state","z":"4ca0c14e1d9cee81","name":"Back door closed?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.back_door_contact_sensor_contact","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":980,"wires":[["1ba2b6fb3ec337df"],[]]},{"id":"1ba2b6fb3ec337df","type":"api-call-service","z":"4ca0c14e1d9cee81","name":"Dim lights","server":"9bba082b.c29a28","version":5,"debugenabled":true,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.utility_room_lights"],"data":"{\"brightness\":$round( $number($entities('input_number.settings_occupancy_cleared_dim_target').state) * $number($entities('light.utility_room_lights').attributes.brightness ) / 100 )}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":900,"wires":[["5f64b778f9b5ec69"]]},{"id":"551433d060035724","type":"comment","z":"4ca0c14e1d9cee81","name":"3 Room occupancy cleared, dim lights and start Lights Off timer","info":"","x":230,"y":780,"wires":[]},{"id":"e9c2418a7de14842","type":"server-events","z":"4ca0c14e1d9cee81","name":"Occupancy timer finished","server":"9bba082b.c29a28","version":2,"eventType":"timer.finished","exposeToHomeAssistant":false,"eventData":"{\"entity_id\": \"timer.utility_room_occupancy_timer\"}","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":150,"y":900,"wires":[["efec502bd64b5fef"]]},{"id":"5f64b778f9b5ec69","type":"api-call-service","z":"4ca0c14e1d9cee81","name":"Start lights out timer","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"timer","service":"start","areaId":[],"deviceId":[],"entityId":["timer.utility_room_lights_off_timer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":900,"wires":[[]]},{"id":"1a01cc49bd3f5f0f","type":"api-current-state","z":"4ca0c14e1d9cee81","name":"Motion center clear?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.utility_room_motion_sensor_occupancy","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":1180,"wires":[["5a4d7b71658502d8"],[]]},{"id":"5a4d7b71658502d8","type":"api-current-state","z":"4ca0c14e1d9cee81","name":"Back door closed?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.back_door_contact_sensor_contact","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":1260,"wires":[["5349dbc21c5e18d4"],[]]},{"id":"5349dbc21c5e18d4","type":"api-call-service","z":"4ca0c14e1d9cee81","name":"Turn off lights","server":"9bba082b.c29a28","version":5,"debugenabled":true,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.utility_room_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":1180,"wires":[[]]},{"id":"558f58b64694867c","type":"comment","z":"4ca0c14e1d9cee81","name":"4 Lights Off timer finished, turn off the lights","info":"","x":170,"y":1060,"wires":[]},{"id":"d54b5a0532c0cd0d","type":"server-events","z":"4ca0c14e1d9cee81","name":"Lights off timer finished","server":"9bba082b.c29a28","version":2,"eventType":"timer.finished","exposeToHomeAssistant":false,"eventData":"{\"entity_id\": \"timer.utility_room_lights_off_timer\"}","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":140,"y":1180,"wires":[["1a01cc49bd3f5f0f"]]},{"id":"362fae1de16119a2","type":"delay","z":"4ca0c14e1d9cee81","name":"","pauseType":"delay","timeout":"40","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1100,"y":240,"wires":[["0fbe0a05fb995a47"]]},{"id":"f287b5306777f4aa","type":"inject","z":"4ca0c14e1d9cee81","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":60,"wires":[["9a1759019105b938"]]},{"id":"95251f8cc264d1e4","type":"trigger-state","z":"4ca0c14e1d9cee81","name":"Motion detected?","server":"9bba082b.c29a28","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.utility_room_motion_sensor_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":130,"y":160,"wires":[["b7cce219038bf3ef","9a1759019105b938"],["a7646a7e4535e449"]]},{"id":"654ad62ce83d3199","type":"api-call-service","z":"4ca0c14e1d9cee81","name":"Cancel timers","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"timer","service":"cancel","areaId":[],"deviceId":[],"entityId":["timer.utility_room_occupancy_timer","timer.utility_room_lights_off_timer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1520,"y":660,"wires":[[]]},{"id":"d475d4b94926d837","type":"inject","z":"4ca0c14e1d9cee81","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":820,"wires":[["efec502bd64b5fef"]]},{"id":"b3878f96f851d28e","type":"inject","z":"4ca0c14e1d9cee81","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":1100,"wires":[["1a01cc49bd3f5f0f"]]},{"id":"cb17b818a21d545c","type":"inject","z":"4ca0c14e1d9cee81","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":730,"y":460,"wires":[["0aa19b4c9af50858"]]},{"id":"c2e0835bfaf63026","type":"api-call-service","z":"4ca0c14e1d9cee81","name":"Cancel timers","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"timer","service":"cancel","areaId":[],"deviceId":[],"entityId":["timer.bathroom_occupied_timer","timer.bathroom_lights_off_timer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1510,"y":120,"wires":[[]]},{"id":"5308bfede932e74f","type":"debug","z":"4ca0c14e1d9cee81","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":260,"wires":[]},{"id":"b69d59f6667437f7","type":"trigger-state","z":"4ca0c14e1d9cee81","name":"Lights turned off?","server":"9bba082b.c29a28","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.utility_room_lights","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":1370,"y":580,"wires":[["654ad62ce83d3199"],[]]},{"id":"654b784ceef6ee7e","type":"comment","z":"4ca0c14e1d9cee81","name":"Cancel timers if light turned off","info":"","x":1350,"y":520,"wires":[]},{"id":"f3b345f4099f8e5f","type":"api-call-service","z":"e26355ad38f24c9f","name":"Turn garage main lights on","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["0ea9bd667dedff03624b022cf32e8861"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":120,"wires":[[]]},{"id":"a1c55d578336feba","type":"comment","z":"e26355ad38f24c9f","name":"One of the doors was opened, turn on main lights","info":"","x":180,"y":20,"wires":[]},{"id":"a55125a02ec8bb70","type":"api-current-state","z":"e26355ad38f24c9f","name":"If driveway light is on","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.driveway_light","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1200,"y":540,"wires":[["913aa1958ebb824c"],[]]},{"id":"913aa1958ebb824c","type":"api-call-service","z":"e26355ad38f24c9f","name":"Dim light by 2%","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.driveway_light"],"data":"{\"brightness_step_pct\":-2}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":600,"wires":[["00d2580f51e3da75"]]},{"id":"00d2580f51e3da75","type":"delay","z":"e26355ad38f24c9f","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1060,"y":600,"wires":[["a55125a02ec8bb70"]]},{"id":"09fece1d9ebf9888","type":"trigger-state","z":"e26355ad38f24c9f","name":"Garage door opening","server":"9bba082b.c29a28","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"cover.garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"opening"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":100,"y":160,"wires":[["f3b345f4099f8e5f"],[]]},{"id":"0486b3a530bc27e2","type":"api-call-service","z":"e26355ad38f24c9f","name":"Start dim timer","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"timer","service":"start","areaId":[],"deviceId":[],"entityId":["timer.driveway_light_dim_timer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":460,"wires":[["b30a32d51d32b5f8"]]},{"id":"3c7244a881ac3fff","type":"server-events","z":"e26355ad38f24c9f","name":"Dim timer finished","server":"9bba082b.c29a28","version":2,"eventType":"timer.finished","exposeToHomeAssistant":false,"eventData":"{\"entity_id\": \"timer.driveway_light_dim_timer\"}","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":830,"y":460,"wires":[["a55125a02ec8bb70"]]},{"id":"5c2f3ac0780feb1f","type":"api-call-service","z":"e26355ad38f24c9f","name":"Cancel dim timer","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"timer","service":"cancel","areaId":[],"deviceId":[],"entityId":["timer.driveway_light_dim_timer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":660,"wires":[[]]},{"id":"4f0947875ce82619","type":"comment","z":"e26355ad38f24c9f","name":"Driveway Light turned off, cancel dim timer","info":"","x":280,"y":660,"wires":[]},{"id":"d7452349a3b273b8","type":"comment","z":"e26355ad38f24c9f","name":"Garage door closed, back door opened, or driveway light turned on — start dim timer","info":"","x":300,"y":320,"wires":[]},{"id":"5bec06ba3bba6333","type":"comment","z":"e26355ad38f24c9f","name":"Dim timer finished, start dimming lights","info":"","x":1210,"y":480,"wires":[]},{"id":"f51526372a3cf7a6","type":"trigger-state","z":"e26355ad38f24c9f","name":"Garage door closed","server":"9bba082b.c29a28","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"cover.garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closing"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":130,"y":460,"wires":[["0486b3a530bc27e2"],[]]},{"id":"507d727f5c7cd87f","type":"trigger-state","z":"e26355ad38f24c9f","name":"Back Door opened","server":"9bba082b.c29a28","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"cover.garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":130,"y":380,"wires":[["0486b3a530bc27e2"],[]]},{"id":"b30a32d51d32b5f8","type":"link out","z":"e26355ad38f24c9f","name":"link out 1","mode":"link","links":[],"x":725,"y":460,"wires":[]},{"id":"dc70af76fdaefdda","type":"comment","z":"e26355ad38f24c9f","name":"Turn on Back Work Area Light with motion sensor","info":"","x":180,"y":820,"wires":[]},{"id":"155e59c501f529b8","type":"trigger-state","z":"e26355ad38f24c9f","name":"Motion detected?","server":"9bba082b.c29a28","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.garage_back_work_area_motion_sensor_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":110,"y":940,"wires":[["7c17ef69f997d556","b4c0178db6fb362e"],["c68a0f5684404ea2","b4c0178db6fb362e"]]},{"id":"f8983a0e10e2a521","type":"trigger-state","z":"e26355ad38f24c9f","name":"Side Door opened","server":"9bba082b.c29a28","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.garage_side_door_contact","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":110,"y":80,"wires":[["f3b345f4099f8e5f"],["0486b3a530bc27e2"]]},{"id":"7c17ef69f997d556","type":"api-call-service","z":"e26355ad38f24c9f","name":"Turn lights on","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["134c3b86926509c17593da590b8fa4e6"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":880,"wires":[[]]},{"id":"c68a0f5684404ea2","type":"api-call-service","z":"e26355ad38f24c9f","name":"Start lights off timer","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"timer","service":"start","areaId":[],"deviceId":[],"entityId":["timer.garage_back_work_area_lights_off_timer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":1000,"wires":[["0f09860f85365ade"]]},{"id":"0f09860f85365ade","type":"link out","z":"e26355ad38f24c9f","name":"link out 2","mode":"link","links":[],"x":685,"y":1000,"wires":[]},{"id":"de8f56cea1f13853","type":"server-events","z":"e26355ad38f24c9f","name":"Lights off timer finished","server":"9bba082b.c29a28","version":2,"eventType":"timer.finished","exposeToHomeAssistant":false,"eventData":"{\"entity_id\": \"timer.garage_back_work_area_lights_off_timer\"}","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":800,"y":1000,"wires":[["85a0586acc916810"]]},{"id":"85a0586acc916810","type":"api-call-service","z":"e26355ad38f24c9f","name":"Turn lights off","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":["134c3b86926509c17593da590b8fa4e6"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":1000,"wires":[[]]},{"id":"1563744cc8b5ecbd","type":"comment","z":"e26355ad38f24c9f","name":"Turn on Back Room Light with motion sensor","info":"","x":170,"y":1160,"wires":[]},{"id":"e44682510e2d5d3f","type":"trigger-state","z":"e26355ad38f24c9f","name":"Motion detected?","server":"9bba082b.c29a28","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.back_room_motion_sensor_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":110,"y":1280,"wires":[["8a98c27f8a0a5918","17540cc6b81064b4"],["18ab0bfefe32fa8b","17540cc6b81064b4"]]},{"id":"8a98c27f8a0a5918","type":"api-call-service","z":"e26355ad38f24c9f","name":"Turn lights on","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["7c863e1877d7c10b0bbb63db4ace297c"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":1220,"wires":[[]]},{"id":"18ab0bfefe32fa8b","type":"api-call-service","z":"e26355ad38f24c9f","name":"Start lights off timer","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"timer","service":"start","areaId":[],"deviceId":[],"entityId":["timer.garage_back_room_lights_off_timer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":1340,"wires":[["d5ef1d6fb62710aa"]]},{"id":"d5ef1d6fb62710aa","type":"link out","z":"e26355ad38f24c9f","name":"link out 3","mode":"link","links":[],"x":685,"y":1340,"wires":[]},{"id":"418da2efed256e6d","type":"server-events","z":"e26355ad38f24c9f","name":"Lights off timer finished","server":"9bba082b.c29a28","version":2,"eventType":"timer.finished","exposeToHomeAssistant":false,"eventData":"{\"entity_id\": \"timer.garage_back_room_lights_off_timer\"}","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":800,"y":1340,"wires":[["1dbf45dd7d9be167"]]},{"id":"1dbf45dd7d9be167","type":"api-call-service","z":"e26355ad38f24c9f","name":"Turn lights off","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":["7c863e1877d7c10b0bbb63db4ace297c"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":1340,"wires":[[]]},{"id":"b4c0178db6fb362e","type":"debug","z":"e26355ad38f24c9f","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":200,"y":1020,"wires":[]},{"id":"17540cc6b81064b4","type":"debug","z":"e26355ad38f24c9f","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":240,"y":1360,"wires":[]},{"id":"a277439090ca510b","type":"server-state-changed","z":"e26355ad38f24c9f","name":"Driveway light state changed","server":"9bba082b.c29a28","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.driveway_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":540,"wires":[["1923b6f7c3cf7bc5"]]},{"id":"1923b6f7c3cf7bc5","type":"switch","z":"e26355ad38f24c9f","name":"Light turn on?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":600,"wires":[["0486b3a530bc27e2"],["5c2f3ac0780feb1f"]]},{"id":"b0782e8be0ee1649","type":"mqtt in","z":"caf16341c1dce5de","name":"Button action","topic":"zigbee2mqtt/Bedroom-Desk-Button","qos":"2","datatype":"auto-detect","broker":"374adee52b03e382","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":120,"wires":[["11eeab0888efec5e","e66f1b8c872e8855"]]},{"id":"e66f1b8c872e8855","type":"switch","z":"caf16341c1dce5de","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"false","repair":true,"outputs":3,"x":590,"y":120,"wires":[["d7c44155dbe599af"],["1e48b491c36a4637"],["774ec6b3e4a13323"]]},{"id":"54ceebd7e685c913","type":"api-call-service","z":"caf16341c1dce5de","name":"Turn off main light","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bedroom_main_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1330,"y":380,"wires":[[]]},{"id":"d091057912ac695e","type":"api-call-service","z":"caf16341c1dce5de","name":"Turn on lamps","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bedroom_lamps"],"data":"{\"transition\":0.5}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1260,"y":240,"wires":[[]]},{"id":"774ec6b3e4a13323","type":"api-call-service","z":"caf16341c1dce5de","name":"Turn off manual control","server":"9bba082b.c29a28","version":5,"debugenabled":true,"domain":"adaptive_lighting","service":"set_manual_control","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_bedroom"],"data":"{\"manual_control\":false}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":660,"wires":[["1d79151d5177adde"]]},{"id":"1d79151d5177adde","type":"api-call-service","z":"caf16341c1dce5de","name":"Apply Adaptive Lighting","server":"9bba082b.c29a28","version":5,"debugenabled":true,"domain":"adaptive_lighting","service":"apply","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_bedroom"],"data":"{\"transition\":1,\"adapt_brightness\":true,\"adapt_color\":true}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":660,"wires":[[]]},{"id":"8c12d17975eb4117","type":"comment","z":"caf16341c1dce5de","name":"Hold - Reset Adaptive Lighting","info":"","x":910,"y":620,"wires":[]},{"id":"ec463f7657640b41","type":"comment","z":"caf16341c1dce5de","name":"Single press - Toggle lamps","info":"","x":940,"y":140,"wires":[]},{"id":"1d6ced823c11f91f","type":"comment","z":"caf16341c1dce5de","name":"Double press - Toggle main light","info":"","x":1010,"y":400,"wires":[]},{"id":"3e171bcb6c56efc0","type":"comment","z":"caf16341c1dce5de","name":"DESK BUTTON","info":"","x":180,"y":60,"wires":[]},{"id":"1e48b491c36a4637","type":"api-current-state","z":"caf16341c1dce5de","name":"Is main bedroom light on","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bedroom_main_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":990,"y":440,"wires":[["54ceebd7e685c913"],["dcc1bdab9bcbce9b"]]},{"id":"dcc1bdab9bcbce9b","type":"api-call-service","z":"caf16341c1dce5de","name":"Turn off manual control","server":"9bba082b.c29a28","version":5,"debugenabled":true,"domain":"adaptive_lighting","service":"set_manual_control","areaId":[],"deviceId":[],"entityId":[],"data":"{\"lights\":\"light.bedroom_main_light\",\"manual_control\":false}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1350,"y":500,"wires":[["d1b12489bee2ad88"]]},{"id":"d1b12489bee2ad88","type":"api-call-service","z":"caf16341c1dce5de","name":"Apply adaptive lighting","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"adaptive_lighting","service":"apply","areaId":[],"deviceId":[],"entityId":[],"data":"{\"transition\":1,\"adapt_brightness\":true,\"adapt_color\":true,\"lights\":\"light.bedroom_main_light\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1700,"y":500,"wires":[[]]},{"id":"d7c44155dbe599af","type":"api-current-state","z":"caf16341c1dce5de","name":"Are lamps on?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bedroom_lamps","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":900,"y":180,"wires":[["daa6ea8ae0428b04"],["d091057912ac695e"]]},{"id":"daa6ea8ae0428b04","type":"api-current-state","z":"caf16341c1dce5de","name":"Is desk lamp on?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bedroom_desk_lamp","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1270,"y":120,"wires":[["bbeebd3c44f364a8"],["9f511ea07d9d9839"]]},{"id":"bbeebd3c44f364a8","type":"api-call-service","z":"caf16341c1dce5de","name":"Turn off ALL lamps","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bedroom_desk_lamp","light.bedroom_lamps"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":40,"wires":[[]]},{"id":"9f511ea07d9d9839","type":"api-call-service","z":"caf16341c1dce5de","name":"Turn on desk lamp","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bedroom_desk_lamp"],"data":"{\"transition\":0.5}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":180,"wires":[[]]},{"id":"11eeab0888efec5e","type":"debug","z":"caf16341c1dce5de","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":240,"wires":[]},{"id":"0bfdb38e3ffc2c62","type":"mqtt in","z":"9a48a67062cac6f3","name":"","topic":"zigbee2mqtt/Dining-Room-Button","qos":"2","datatype":"auto-detect","broker":"374adee52b03e382","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":200,"wires":[["a99d8582a8ab6061","197922a2cc70941f"]]},{"id":"a99d8582a8ab6061","type":"switch","z":"9a48a67062cac6f3","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"false","repair":true,"outputs":3,"x":490,"y":200,"wires":[["b07839fb6bbca695"],[],["5ea0f67bf5e40fa9"]]},{"id":"f2eacdee8231cd22","type":"api-call-service","z":"9a48a67062cac6f3","name":"Turn off light","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.dining_room_light"],"data":"{\"transition\":0.5}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":60,"wires":[[]]},{"id":"5ea0f67bf5e40fa9","type":"api-call-service","z":"9a48a67062cac6f3","name":"Turn off manual control","server":"9bba082b.c29a28","version":5,"debugenabled":true,"domain":"adaptive_lighting","service":"set_manual_control","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_living_room"],"data":"{\"manual_control\":false}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":340,"wires":[["7026b809d6fc016e"]]},{"id":"7026b809d6fc016e","type":"api-call-service","z":"9a48a67062cac6f3","name":"Apply Adaptive Lighting","server":"9bba082b.c29a28","version":5,"debugenabled":true,"domain":"adaptive_lighting","service":"apply","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_living_room"],"data":"{\"transition\":1,\"adapt_brightness\":true,\"adapt_color\":true}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1070,"y":340,"wires":[[]]},{"id":"24308741455b31a4","type":"comment","z":"9a48a67062cac6f3","name":"Hold","info":"","x":730,"y":300,"wires":[]},{"id":"741c82544a75658c","type":"comment","z":"9a48a67062cac6f3","name":"Single tap","info":"","x":740,"y":60,"wires":[]},{"id":"fc1016538f1c1362","type":"comment","z":"9a48a67062cac6f3","name":"Double tap","info":"","x":740,"y":180,"wires":[]},{"id":"2c3b2b39430c8e9a","type":"comment","z":"9a48a67062cac6f3","name":"BUTTON","info":"","x":100,"y":60,"wires":[]},{"id":"197922a2cc70941f","type":"debug","z":"9a48a67062cac6f3","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":320,"y":340,"wires":[]},{"id":"b07839fb6bbca695","type":"api-current-state","z":"9a48a67062cac6f3","name":"Is light on?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.dining_room_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":750,"y":100,"wires":[["f2eacdee8231cd22"],["ca51e8aa737e7055"]]},{"id":"2c131a880765edd3","type":"api-call-service","z":"9a48a67062cac6f3","name":"Apply Adaptive Lighting","server":"9bba082b.c29a28","version":5,"debugenabled":true,"domain":"adaptive_lighting","service":"apply","areaId":[],"deviceId":[],"entityId":["switch.adaptive_lighting_living_room"],"data":"{\"transition\":0.5,\"adapt_brightness\":true,\"adapt_color\":true,\"turn_on_lights\":true,\"lights\":\"light.dining_room_light\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":180,"wires":[[]]},{"id":"ca51e8aa737e7055","type":"api-call-service","z":"9a48a67062cac6f3","name":"Turn off manual control","server":"9bba082b.c29a28","version":5,"debugenabled":true,"domain":"adaptive_lighting","service":"set_manual_control","areaId":[],"deviceId":[],"entityId":[],"data":"{\"manual_control\":false,\"lights\":\"light.dining_room_light\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":160,"wires":[["2c131a880765edd3"]]},{"id":"5bb994382f0868f9","type":"comment","z":"28024963bab012a2","name":"DRIVEWAY LIGHT ON","info":"","x":140,"y":60,"wires":[]},{"id":"80f18141b2f240ff","type":"trigger-state","z":"28024963bab012a2","name":"First Person Arrives","server":"9bba082b.c29a28","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.home_occupied","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"false"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","enableInput":false,"x":190,"y":120,"wires":[["2909861ea969ef3f"],[]]},{"id":"2909861ea969ef3f","type":"api-call-service","z":"28024963bab012a2","name":"Turn on light","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.driveway_light"],"data":"{\"brightness\":\"255\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":120,"wires":[[]]},{"id":"9043b662f15d18d4","type":"api-call-service","z":"9748c0ec2e58a73f","name":"Turn on upstairs light","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"adaptive_lighting","service":"apply","areaId":[],"deviceId":[],"entityId":[],"data":"{\"lights\":\"light.upstairs_light\",\"adapt_brightness\":true,\"adapt_color\":true,\"turn_on_lights\":true}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":160,"wires":[[]]},{"id":"3e9825b309d0a79b","type":"trigger-state","z":"9748c0ec2e58a73f","name":"Door opened?","server":"9bba082b.c29a28","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.staircase_door_contact_sensor_contact","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":250,"y":220,"wires":[["9043b662f15d18d4"],[]]},{"id":"18be9758c2890403","type":"comment","z":"bb73eabc4ef8264a","name":"Turn veg lights on/off with schedule","info":"","x":140,"y":20,"wires":[]},{"id":"0b4c701ed2c73b11","type":"api-call-service","z":"bb73eabc4ef8264a","name":"Turn veg light on","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.veg_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1070,"y":60,"wires":[["a3926e233059b362","0c35d6a78e3d875e"]]},{"id":"4eb1f6644bd68a3b","type":"api-call-service","z":"bb73eabc4ef8264a","name":"Turn veg light off","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.veg_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1070,"y":260,"wires":[["a3926e233059b362","0c35d6a78e3d875e"]]},{"id":"343462315015547e","type":"comment","z":"bb73eabc4ef8264a","name":"Turn flower lights on/off with schedule","info":"","x":150,"y":400,"wires":[]},{"id":"ce2ecb28088fc183","type":"inject","z":"bb73eabc4ef8264a","name":"Flow start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["3d45ad8df9d4f98e"]]},{"id":"3d45ad8df9d4f98e","type":"api-current-state","z":"bb73eabc4ef8264a","name":"Veg Light scheduled on?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.veg_light_schedule","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":160,"wires":[["767da15c0e811504"],["88ec7155890d3349"]]},{"id":"2c9fc7389c7b8f44","type":"server-state-changed","z":"bb73eabc4ef8264a","name":"Veg light schedule state changed","server":"9bba082b.c29a28","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.veg_light_schedule","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":240,"wires":[["3d45ad8df9d4f98e"]]},{"id":"7ee76a43ce082719","type":"inject","z":"bb73eabc4ef8264a","name":"Every 5 minutes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":160,"wires":[["3d45ad8df9d4f98e"]]},{"id":"9e9cd95a96ec7794","type":"api-call-service","z":"bb73eabc4ef8264a","name":"Turn veg light on","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.flower_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1070,"y":440,"wires":[["b33dc36e6dbf7524","2ad030697958dab8"]]},{"id":"833ad0b541db615f","type":"api-call-service","z":"bb73eabc4ef8264a","name":"Turn veg light off","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.flower_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1070,"y":640,"wires":[["b33dc36e6dbf7524","2ad030697958dab8"]]},{"id":"e880f58fe54dbb1f","type":"inject","z":"bb73eabc4ef8264a","name":"Flow start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":460,"wires":[["11a2a670ecb79ba1"]]},{"id":"11a2a670ecb79ba1","type":"api-current-state","z":"bb73eabc4ef8264a","name":"Flower Light scheduled on?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.flower_light_schedule","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":540,"wires":[["1ae684cee97fc3d4"],["19a1c990b6f46cba"]]},{"id":"8d8dfd4e422cad20","type":"server-state-changed","z":"bb73eabc4ef8264a","name":"Flower light schedule state changed","server":"9bba082b.c29a28","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.flower_light_schedule","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":620,"wires":[["11a2a670ecb79ba1"]]},{"id":"3b59e19d657ed3da","type":"inject","z":"bb73eabc4ef8264a","name":"Every 5 minutes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":540,"wires":[["11a2a670ecb79ba1"]]},{"id":"a3926e233059b362","type":"api-call-service","z":"bb73eabc4ef8264a","name":"Notify me","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"notify","service":"jesse","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\":\"Flower light turned {{ payload }}\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":120,"wires":[[]]},{"id":"b33dc36e6dbf7524","type":"api-call-service","z":"bb73eabc4ef8264a","name":"Notify me","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"notify","service":"jesse","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\":\"Flower light turned {{ payload }}\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":500,"wires":[[]]},{"id":"0c35d6a78e3d875e","type":"debug","z":"bb73eabc4ef8264a","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1400,"y":200,"wires":[]},{"id":"2ad030697958dab8","type":"debug","z":"bb73eabc4ef8264a","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1400,"y":580,"wires":[]},{"id":"1ae684cee97fc3d4","type":"api-current-state","z":"bb73eabc4ef8264a","name":"Flower Light off?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.flower_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":770,"y":480,"wires":[["9e9cd95a96ec7794"],[]]},{"id":"19a1c990b6f46cba","type":"api-current-state","z":"bb73eabc4ef8264a","name":"Flower Light on?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.flower_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":770,"y":600,"wires":[["833ad0b541db615f"],[]]},{"id":"767da15c0e811504","type":"api-current-state","z":"bb73eabc4ef8264a","name":"Veg Light off?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.veg_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":760,"y":100,"wires":[["0b4c701ed2c73b11"],[]]},{"id":"88ec7155890d3349","type":"api-current-state","z":"bb73eabc4ef8264a","name":"Veg Light on?","server":"9bba082b.c29a28","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.veg_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":760,"y":220,"wires":[["4eb1f6644bd68a3b"],[]]},{"id":"b9018010295aaf27","type":"comment","z":"bb73eabc4ef8264a","name":"Turn flower mixing pump off after 5 minutes","info":"","x":830,"y":820,"wires":[]},{"id":"3075248a51fc200a","type":"api-call-service","z":"bb73eabc4ef8264a","name":"Start mixing pump timer","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"timer","service":"start","areaId":[],"deviceId":[],"entityId":["timer.flower_mixing_pump_timer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1270,"y":920,"wires":[["3a74d35cbbb3a8bf"]]},{"id":"d7dbf6d910210706","type":"api-call-service","z":"bb73eabc4ef8264a","name":"Cancel mixing pump timer","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"timer","service":"cancel","areaId":[],"deviceId":[],"entityId":["timer.flower_mixing_pump_timer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":1000,"wires":[[]]},{"id":"7e520457cee44b6c","type":"server-state-changed","z":"bb73eabc4ef8264a","name":"Flower mixing pump state changed","server":"9bba082b.c29a28","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.flower_light_schedule","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":820,"y":880,"wires":[["3075248a51fc200a"],["d7dbf6d910210706"]]},{"id":"3a74d35cbbb3a8bf","type":"link out","z":"bb73eabc4ef8264a","name":"link out 4","mode":"link","links":[],"x":1245,"y":1000,"wires":[]},{"id":"a4af044626b7a45a","type":"server-events","z":"bb73eabc4ef8264a","name":"Timer finished","server":"9bba082b.c29a28","version":2,"eventType":"timer.finished","exposeToHomeAssistant":false,"eventData":"{\"entity\":\"timer.flower_mixing_pump_timer\"}","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":1330,"y":1000,"wires":[["719d99607e260fee"]]},{"id":"719d99607e260fee","type":"api-call-service","z":"bb73eabc4ef8264a","name":"Turn off mixing pump","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"switch","service":"start","areaId":[],"deviceId":[],"entityId":["switch.flower_mixing_pump"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1540,"y":1000,"wires":[[]]},{"id":"846ef018677e0fc7","type":"comment","z":"bb73eabc4ef8264a","name":"Turn on flower mixing pump at 9pm, 12am, and 3am","info":"","x":190,"y":820,"wires":[]},{"id":"4f563d180e0236ea","type":"inject","z":"bb73eabc4ef8264a","name":"9:00pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":880,"wires":[["2f42bcb24062e325"]]},{"id":"33aba30702d64160","type":"inject","z":"bb73eabc4ef8264a","name":"Midnight","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":940,"wires":[["2f42bcb24062e325"]]},{"id":"12bfb736ad6d43b7","type":"inject","z":"bb73eabc4ef8264a","name":"3:00am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1000,"wires":[["2f42bcb24062e325"]]},{"id":"2f42bcb24062e325","type":"api-call-service","z":"bb73eabc4ef8264a","name":"Turn on mixing pump","server":"9bba082b.c29a28","version":5,"debugenabled":false,"domain":"switch","service":"start","areaId":[],"deviceId":[],"entityId":["switch.flower_mixing_pump"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":940,"wires":[[]]}]